<ion-header>
  <ion-navbar>
    <ion-title>
      Mapa
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="map" style="width: 100%; height: 100%;"></div>

  <ion-fab right top>
    <button ion-fab (tap)="locate()"><ion-icon name="locate"></ion-icon></button>
  </ion-fab>
</ion-content>
