<ion-header>
  <ion-navbar>
    <ion-title>Contatos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button ion-fab (tap)="addContato()"><ion-icon name="person-add"></ion-icon></button>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let contato of contatos">
      <h2>{{ contato.nome }}</h2>
      <p>{{ contato.tel }}</p>
    </ion-item>
  </ion-list>
</ion-content>
